body {
    font-family: "Inter UI", sans-serif;
    margin: 0;
    padding: 20px;
    background: url('bg.gif') ;
}

.page {
    
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
}

.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}

.content-left {
    background: rgb(8, 178, 181);
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.login {
    font-size: 50px;
    font-weight: 900;
    margin: 25px 40px 40px;
    color: #ffffff;

}

.text {
    margin: 40px;
    color: rgba(255, 255, 255);
    font-size: 14px;
    line-height: 1.5;
}

.content-right {
    background: #ffffff;
    box-shadow: 0px 0px 40px 16px rgba(177, 24, 24, 0.22);
    color: #f1f1f2;
    position: relative;
    width: 50%;
    border-radius: 10px;
}
.content {
    background: #3b4344;
    box-shadow: 0px 0px 40px 16px rgba(0, 217, 255, 0.22);
    color: #f1f1f2;
    position: relative;
    width: 100%;
    border-radius: 10px;
}

.form {
    margin: 40px;
    position: absolute;
}

label {
    color: #383838;
    display: block;
    font-size: 16px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    background: #68686826;
    border: 0px;
    color: #3d2c2c;
    font-size: 20px;
    height: 34px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}

input:focus {
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
}

.submit {
    color: white;
    margin-top: 40px;
    transition: color 300ms;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    line-height: 2.5;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    border: 1px solid transparent;
    margin-top: 26px;
    margin-left: 8px;
    font-size: 16px;
    border-radius: 4.25rem;
    width: 43%;
    background: rgb(8, 178, 181);
}


.submit3 {
    color: white;
    margin-top: 40px;
    transition: color 300ms;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    line-height: 2.5;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    border: 1px solid transparent;
    margin-top: 26px;
    margin-left: 8px;
    font-size: 16px;
    border-radius: 4.25rem;
    width: 50%;
    background: rgb(8, 178, 181);
}

.submit2 {
    color: white;
    margin-top: 40px;
    transition: color 300ms;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    line-height: 2.5;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    border: 1px solid transparent;
    margin-top: 26px;
    margin-left: 8px;
    font-size: 16px;
    border-radius: 4.25rem;
    width: 43%;
    background: rgb(8, 178, 181);
}

#submit:focus {
    color: #f2f2f2;
}

#submit:active {
    color: #d0d0d2;
}